<section class="container col-xl-10 col-xxl-8 px-4 py-5">
    <section class="row align-items-center g-5 py-5">

        <section class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Welcome</h1>
            <p class="col-lg-10 fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </section>

        <section class="col-10 mx-auto justify-content-center col-lg-5">
            <img src="/images/logo.png" class="img-fluid" width="100px" alt="logo">
            <form class="m-2">
                <h2>LOGIN</h2>
                <section class="mb-2">
                    <label for="user-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="user-email">
                </section>

                <section class="mb-2">
                    <label for="user-password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="user-password">
                </section>

                <button id="login" class="btn btn-dark localBtn">Login</button>
                <section class="m-3 justify-content-end text-end">
                    <label for="signupInstead" class="form-label">Not a member yet?</label>
                    <button id="signupInstead" class="btn btn-light localBtn">Signup</button>
                </section>
            </form>
        </section>

    </section>
</section>
<script src="/js/login.js"></script>