<section class="container col-xl-10 col-xxl-8 px-4 py-5">
  <section class="row align-items-center g-5 py-5">

    <section class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Welcome</h1>
      <p class="col-lg-10 fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </section>

    <section class="col-10 mx-auto justify-content-center col-lg-5">
      <img src="/images/logo.png" class="img-fluid" width="100px" alt="logo">

      <form class="m-2">
        <h2>SIGN UP</h2>
        <section class="mb-2">
          <label for="signupEmail" class="form-label">Email address</label>
          <input type="email" class="form-control" id="signupEmail" aria-describedby="useremail2">
        </section>

        <section class="mb-2">
          <label for="signupUsername" class="form-label">Username</label>
          <input type="text" class="form-control" id="signupUsername">
        </section>

        <section class="mb-2">
          <label for="signupPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="signupPassword">
        </section>

        <button id="signup" class="btn btn-dark localBtn">Submit</button>
        <section class="m-3 justify-content-end text-end">
          <label for="loginInstead" class="form-label">Already a member?</label>
          <button id="loginInstead" class="btn btn-light localBtn">Login</button>
        </section>

      </form>
    </section>

  </section>
</section>

<script src="/js/signup.js"></script>